.title{
  background: #3399ff;
  text-align: center;
}

.ulist{
  background: #3399ff;
  padding: 0.5em 1em 0.5em 1.5em ;
  max-width: 20em;
}

.ilist{
  background: #cce5ff;
  text-align: left;
}

.body{
  background: #cce5ff;
  width: 16em;
  text-align: left;
  height: 20vh;
}

.input{
  width: 18em;
}
