
<body class= "body" ng-controller="MyController">
<h2 class="title">Todo list</h2>
<input class="input" #newTodo
       (keyup.enter)="addTodo(newTodo.value);newTodo.value='' ">
<!--       (blur)="addTodo(newTodo.value); newTodo.value='' ">-->

<!--<button hidden (click)="addTodo(newTodo.value)">Add</button>-->

<ul class="ulist">
  <li class="ilist" *ngFor="let eachTodo of todos">
    {{eachTodo}}
  </li>
</ul>
</body>
